.widgetContainer {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 50vw;
  background-color: var(--gray-light);
}

.widgetHeader {
  font-weight: 550;
  display: flex;
}

.widgetContainer p {
  margin: 0.3rem 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookContent {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  min-height: 6rem;
}

.coverContainer {
  margin: auto;
}

.bookCover {
  width: 3rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.28) 4px 4px 12px 0px;
  cursor: pointer;
}

.detailsContainer {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}

.title {
  font-weight: 500;
  cursor: pointer;
}

.author {
  color: var(--gray-dark);
}

.actionItems {
  display: flex;
  width: 100%;
  justify-content: center;
  align-self: center;
}

.hidden {
  display: none;
}

/* For screens with a max width of 900px */
@media (max-width: 900px) {
  ul li {
    width: 100%;
  }

  .detailsContainer {
    margin-left: 1rem;
  }
}

app-progress-bar {
  width: 100%;
}

.bookCarousel {
  position: relative;
}

.bookCarousel > div {
  display: none;
}

.bookCarousel > div.active {
  display: block;
}

.carouselControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carouselControls mat-icon {
  color: var(--brown);
  cursor: pointer;
}
