<div class="widgetContainer">
  <div class="wrapper">
    <p class="widgetHeader">Currently Reading</p>
    <div *ngIf="books.length > 1" class="carouselControls">
      <mat-icon *ngIf="books.length > 1" (click)="nextBook()"
        >navigate_next</mat-icon
      >
    </div>
  </div>
  <div class="bookCarousel">
    <div
      *ngFor="let book of books; let i = index"
      [class.active]="i === currentIndex"
    >
      <div class="bookContent">
        <div class="coverContainer">
          <img
            class="bookCover"
            (click)="onBookClick(book)"
            src="{{ book.thumbnail }}"
            alt="{{ book.title }}"
          />
        </div>
        <div class="detailsContainer">
          <div>
            <p class="title" (click)="onBookClick(book)">{{ book.title }}</p>
            <p class="author">
              {{ book.authors ? book.authors[0] : "No authors listed" }}
            </p>
          </div>
        </div>
        <div class="actionItems">
          <app-progress-bar [book]="book"></app-progress-bar>
          <!-- <p class="actionBtn" (click)="onNotesClick(book)">Notes</p> -->
        </div>
      </div>
    </div>
  </div>
</div>
