<div class="progressContainer">
  <ng-container *ngIf="book.status === 'To Read'">
    <button class="actionBtn" (click)="showProgressModal = true">
      Update progress
    </button>
  </ng-container>
  <ng-container *ngIf="book.status === 'Reading Now'">
    <p>
      Progress
      <button class="actionBtn" (click)="showProgressModal = true">
        Update
      </button>
    </p>
    <progress [max]="100" [value]="progress.toFixed(0)"></progress>
  </ng-container>
  <ng-container *ngIf="book.status === 'Have Read'">
    <div class="tag">
      <p>Have Read</p>
    </div>
  </ng-container>
</div>
<app-progress-modal
  *ngIf="showProgressModal"
  [book]="book"
  (progressUpdate)="updateProgress($event)"
  (close)="showProgressModal = false"
></app-progress-modal>
