section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
  overflow-y: hidden;
  transform: translateY(0);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 1000;
}

.overlayContent {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.overlayContent mat-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--white);
  cursor: pointer;
}

.modalContainer {
  position: absolute;
  width: 100%;
  height: calc(100vh - 3.5rem);
  bottom: 0;
  border-radius: 20px 20px 0 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
}

.modalContent {
  max-width: 1200px;
  margin: 6rem 8rem;
  max-width: 1200px;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.bookGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 1rem;
  place-items: end center;
}

.card {
  border-radius: 10px;
  width: 20%;
  min-width: 10rem;
  padding: 1rem 0.5rem;
  cursor: pointer;
}

.card:hover {
  background-color: var(--gray-light);
}

.bookContent {
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  flex-direction: column;
  gap: 0.75rem;
}

.coverContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.coverContainer img {
  border-radius: 5px;
  width: 9rem;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.detailContainer {
  height: 4rem;
  justify-self: flex-end;
}

.detailContainer p.title {
  font-weight: 550;
  color: var(--brown);
  margin: 0;
}
.detailContainer p.author {
  font-weight: 400;
  color: var(--brown);
  margin: 0;
}

mat-icon {
  color: var(--brown);
  cursor: pointer;
}

/* For screens with a max width of 900px */
@media (max-width: 900px) {
  .bookGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* For screens with a max width of 680px */
@media (max-width: 680px) {
  .bookGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
