section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.bookGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 1rem;
  place-items: end center;
}

.card {
  border-radius: 10px;
  width: 20%;
  min-width: 10rem;
  padding: 1rem 0.5rem;
  /* display: flex;
  justify-content: center;
  align-items: flex-end; */
  /* flex-direction: column; */
  cursor: pointer;
}

.card:hover {
  background-color: var(--cardHover);
}

.bookContent {
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  flex-direction: column;
  gap: 0.5rem;
}

.coverContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.coverContainer img {
  border-radius: 5px;
  width: 9rem;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.detailContainer {
  height: 4rem;
  justify-self: flex-end;
}

.detailContainer p.title {
  font-weight: 550;
  color: var(--text);
  margin: 0;
}
.detailContainer p.author {
  font-weight: 400;
  color: var(--text);
  margin: 0;
}

mat-icon {
  color: var(--text);
  cursor: pointer;
}
