<section>
  <div class="wrapper">
    <div class="row">
      <button (click)="prevClick()">Previous</button>
      <div class="card" *ngFor="let book of visibleBooks">
        <div class="coverContainer">
          <img src="{{ book.thumbnail }}" alt="" />
        </div>
        <div class="detailContainer">
          <p class="title">{{ book.title | truncate : 25 }}</p>
          <p class="author">{{ book.authors }}</p>
        </div>
      </div>
      <button (click)="nextClick()">Next</button>
    </div>
  </div>
</section>
