<section>
  <div class="wrapper">
    <!-- <h6>Bookworm</h6> -->
    <div class="formContainer">
      <h4>Log in</h4>
      <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
        <div class="column">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            ngModel
            #emailInput="ngModel"
            placeholder="E-Mail"
            required
            email
          />
          <mat-error *ngIf="submitted && emailInput.invalid">
            Please enter a valid email
          </mat-error>
        </div>
        <div class="column">
          <label for="passowrd">Password</label>
          <input
            type="password"
            name="password"
            ngModel
            #passwordInput="ngModel"
            placeholder="Password"
            required
          />
        </div>
        <button class="primaryBtn" type="submit">Login</button>
      </form>
      <p>Don't have an account? <span>Sign up for free</span></p>
    </div>
  </div>
</section>
