<section>
  <div class="wrapper">
    <a routerLink="/" routerLinkActive=""><h4>Bookworm</h4></a>
    <div class="formContainer">
      <h2>Log in</h2>
      <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
        <div class="column">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            ngModel
            #emailInput="ngModel"
            placeholder="example@gmail.com"
            required
            email
          />
          <mat-error *ngIf="submitted && emailInput.invalid">
            Please enter a valid email
          </mat-error>
        </div>
        <div class="column">
          <label for="passowrd">Password</label>
          <input
            type="password"
            name="password"
            ngModel
            #passwordInput="ngModel"
            placeholder="Password"
            required
          />
        </div>
        <button class="primaryBtn" type="submit">Login</button>
      </form>
      <p>
        Don't have an account?
        <span>
          <a routerLink="/signup" routerLinkActive="">Sign up for free</a></span
        >
      </p>
    </div>
  </div>
</section>
