section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.publicHero {
  max-width: 1200px;
  margin: 0 5%;
  padding: 1% 5%;
  background-color: var(--blue);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.publicText {
  max-width: 40%;
}

img {
  width: 60%;
}

/* User hero */

.userHero {
  position: relative;
  max-width: 1200px;
  margin: 0 5%;
  padding: 1% 5%;
  /* background-color: var(--blue); */
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
}
/*
.userHero:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3rem;
  background-image: url("/assets/images/shelf.png");
  filter: drop-shadow(0px 10px 10px rgba(102, 76, 37, 0.81));
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 2rem;
} */

.textWrapper {
  width: 65%;
  min-width: 30rem;
  text-align: left;
  margin: 4rem 0;
}

.heroCovers {
  width: 35%;
  display: flex;
  gap: 1rem;
}

.heroCovers img {
  border-radius: 5px;
  width: 10rem;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  z-index: 10;
}

button {
  margin: 1rem 0 2rem 0;
}
