section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.publicHero {
  max-width: 1200px;
  margin: 0 5%;
  padding: 1% 5%;
  background-color: var(--teal-light);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.publicText {
  padding: 5% 0;
  max-width: 50%;
}

.publicText h4 {
  font-weight: 400;
  line-height: 1.4;
  margin: 1rem 0;
}

.publicHero img {
  width: 50%;
}

.featuresContainer {
  width: 100%;
  max-width: 1200px;
  margin: 5%;
  display: flex;
  justify-content: space-between;
}

.featureContent {
  width: calc(100% / 3);
  display: flex;
  padding: 0 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  text-align: center;
  border-right: 1px solid var(--tan);
}

.featureContent:nth-child(3) {
  border-right: 0px;
}

.featureContent img {
  width: 40%;
  min-width: 5rem;
  aspect-ratio: 3/2;
  object-fit: contain;
}

/* User hero */

.userHero {
  width: 80%;
  position: relative;
  max-width: 1200px;
  margin: 0 5%;
  padding: 3% 5%;
  background-color: var(--teal);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.userHero:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  background-image: url("/assets/images/bookLineArt.png");
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: overlay;
  transform: rotate(-15.15deg);
  top: -9rem;
  left: -3rem;
  opacity: 0.3;
}

.userHero:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  background-image: url("/assets/images/bookLineArt.png");
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: overlay;
  transform: matrix(-0.95, -0.32, -0.32, 0.95, 0, 0);
  bottom: 3rem;
  right: -8rem;
  opacity: 0.3;
}

.textWrapper {
  width: 65%;
  min-width: 30rem;
  text-align: left;
  margin: 4rem 0;
}

.heroCovers {
  width: 35%;
  display: flex;
  gap: 1rem;
}

.heroCovers img {
  border-radius: 5px;
  width: 10rem;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  z-index: 10;
}

button {
  margin: 1rem 0 2rem 0;
}

form {
  position: relative;
}

input {
  background-color: var(--white);
  padding-left: 2.5rem;
  width: 25rem;
  box-shadow: 0px 0.3px 0.7px 0px rgba(0, 0, 0, 0.066),
    0px 1.5px 2.8px 0px rgba(0, 0, 0, 0.033),
    0px 4px 9px 0px rgba(0, 0, 0, 0.016);
}

mat-icon {
  color: var(--gray);
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

/* For screens with a max width of 680px */
@media (max-width: 680px) {
  .publicHero {
    flex-direction: column;
  }

  .publicText {
    padding: 5% 0;
    max-width: 100%;
    text-align: center;
  }

  .publicHero img {
    width: 100%;
  }

  .bookGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .featureContent img {
    width: 100%;
  }
}

/* For screens with a max width of 428px */
@media screen and (max-width: 428px) {
  .featuresContainer {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .featureContent {
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--tan);
    border-right: none;
  }

  input {
    width: 20rem;
  }

  .userHero {
    text-align: center;
  }
}
