<section>
  <!-- Public hero -->
  <ng-container *ngIf="!userIsAuthenticated">
    <div class="publicHero">
      <div class="publicText">
        <h1>Find and track all your book adventures</h1>
        <p>
          Explore our vast collection of books and start tracking your reading
          progress today
        </p>
        <a routerLink="/signup" routerLinkActive="">
          <button class="primaryBtn">Get started</button>
        </a>
      </div>
      <img src="assets/images/heroImg.png" alt="" />
    </div>
  </ng-container>
  <!-- User is authenticated hero -->
  <ng-container *ngIf="userIsAuthenticated">
    <div class="userHero">
      <h1>Welcome back, {{ name }}</h1>
      <p>Discover your next favorite book</p>
      <form [formGroup]="form" (submit)="onSearch()">
        <mat-icon>search</mat-icon>
        <input
          type="search"
          formControlName="searchbar"
          placeholder="Search books"
        />
      </form>
    </div>
  </ng-container>
</section>
