<section>
  <!-- Public hero -->
  <div class="publicHero" *ngIf="!userIsAuthenticated">
    <div class="publicText">
      <h1>Find and track all your book adventures</h1>
      <p>
        Explore our vast collection of books and start tracking your reading
        progress today
      </p>
      <a routerLink="/signup" routerLinkActive="">
        <button class="primaryBtn">Get started</button>
      </a>
    </div>
    <img src="assets/images/heroImg.png" alt="" />
  </div>
  <!-- User is authenticated hero -->
  <div class="userHero" *ngIf="userIsAuthenticated">
    <div class="textWrapper">
      <h1>Explore the Award Winning Books of the Year</h1>
      <a routerLink="/" routerLinkActive="">
        <button class="primaryBtn">See more</button>
      </a>
    </div>
    <div class="heroCovers">
      <img src="/assets/images/bookCover.jpg" alt="" />
      <img src="/assets/images/bookCover.jpg" alt="" />
      <img src="/assets/images/bookCover.jpg" alt="" />
    </div>
  </div>
</section>
