<section>
  <div class="wrapper">
    <header>
      <h3>Top Non-Fiction Novels</h3>
    </header>
    <app-loader *ngIf="isLoading"></app-loader>
    <div class="row" *ngIf="!isLoading">
      <mat-icon class="prevArrow" (click)="prevClick()"
        >arrow_back_ios</mat-icon
      >
      <div
        class="card"
        *ngFor="let book of visibleBooks"
        (click)="onBookClick(book)"
      >
        <div class="bookContent">
          <div class="coverContainer">
            <img src="{{ book.thumbnail }}" alt="" />
          </div>
          <div class="detailContainer">
            <p class="title">{{ book.title | truncate : 20 }}</p>
            <p class="author">
              {{
                (book.authors && book.authors.length > 0
                  ? book.authors[0]
                  : "Unknown"
                ) | truncate : 20
              }}
            </p>
          </div>
        </div>
      </div>
      <mat-icon class="nextArrow" (click)="nextClick()"
        >arrow_forward_ios</mat-icon
      >
    </div>
  </div>
</section>
