<app-loader *ngIf="isLoading"></app-loader>

<section>
  <div class="table">
    <header>
      <ul>
        <li [class.active]="filter === 'All'" (click)="setFilter('All')">
          All
        </li>
        <li
          [class.active]="filter === 'Reading Now'"
          (click)="setFilter('Reading Now')"
        >
          Reading Now
        </li>
        <li
          [class.active]="filter === 'To Read'"
          (click)="setFilter('To Read')"
        >
          To Read
        </li>
        <li
          [class.active]="filter === 'Have Read'"
          (click)="setFilter('Have Read')"
        >
          Have Read
        </li>
      </ul>
      <hr />
    </header>

    <div class="tableContent">
      <div class="bookRow" *ngFor="let book of getFilteredBooks(filter)">
        <ng-container *ngIf="book.user === userId">
          <div class="coverContainer">
            <img
              class="bookCover"
              (click)="onBookClick(book)"
              src="{{ book.thumbnail }}"
              alt="{{ book.title }}"
            />
          </div>
          <div class="detailsContainer">
            <div>
              <p class="title">{{ book.title }}</p>
              <p class="author">
                {{ book.authors ? book.authors[0] : "No authors listed" }}
              </p>
            </div>
            <app-progress-bar [book]="book"></app-progress-bar>
          </div>
          <div class="actionItems">
            <p class="reviews">4.7</p>
            <p class="actionBtn" (click)="onNotesClick(book)">Notes</p>
          </div>
        </ng-container>
        <mat-icon class="closeIcon" (click)="onDelete(book.id)"
          >remove</mat-icon
        >
      </div>
    </div>
  </div>
</section>
<ng-container *ngIf="selectedBook">
  <app-notes
    [book]="selectedBook"
    *ngIf="showNotesModal"
    [book]="selectedBook"
    (close)="showNotesModal = false"
  ></app-notes>
</ng-container>

<p *ngIf="books.length <= 0 && !isLoading">No posts added yet!</p>
