<table>
  <thead>
    <tr>
      <th>Cover</th>
      <th>Title</th>
      <th>Author</th>
      <th>Reviews</th>
      <th>Notes</th>
      <th>Status</th>
    </tr>
  </thead>
  <tr class="bookRow" *ngFor="let book of books">
    <td>
      <img
        class="bookCover"
        (click)="onBookClick(book)"
        src="{{ book.thumbnail }}"
        alt="{{ book.title }}"
      />
    </td>
    <td>{{ book.title }}</td>
    <td>{{ book.authors ? book.authors[0] : "No authors listed" }}</td>
    <td>4.7</td>
    <td><mat-icon>notes</mat-icon></td>
    <td>tag</td>
    <td><mat-icon (click)="onDelete(book.id)">remove</mat-icon></td>
  </tr>
</table>
