<section>
  <div class="overlayContent">
    <mat-icon (click)="onCloseClick()">close</mat-icon>
  </div>
  <div class="modalContainer">
    <div class="modalContent">
      <div class="bookWrapper">
        <div class="coverContainer">
          <img src="{{ bookData.thumbnail }}" alt="" />
          <div class="addBook">
            <button class="primaryBtn" (click)="onAddBook()">
              <span>
                <mat-icon *ngIf="!bookAdded">add_box</mat-icon>
                <mat-icon *ngIf="bookAdded">check</mat-icon>
              </span>
              <ng-container *ngIf="!bookAdded; else added"
                >Add to my books</ng-container
              >
              <ng-template #added>Book added</ng-template>
            </button>
          </div>
        </div>
        <div class="detailsContainer">
          <h1>{{ bookData.title }}</h1>
          <h4 class="author">
            {{
              bookData.authors && bookData.authors.length > 0
                ? bookData.authors.slice(0, 2).join(", ")
                : "No authors listed"
            }}
          </h4>
          <p class="category">
            Category:
            {{ bookData.categories ? bookData.categories[0] : "None" }}
          </p>
          <div
            class="ratings"
            *ngIf="bookData.averageRating || bookData.ratingsCount"
          >
            <p>{{ bookData.averageRating }}<mat-icon>star</mat-icon></p>
            |
            <p>{{ bookData.ratingsCount }} reviews</p>
          </div>
          <div
            class="ratings"
            *ngIf="!bookData.averageRating && !bookData.ratingsCount"
          >
            <p>No ratings or reviews available.</p>
          </div>
          <h4>Description</h4>
          <p>
            {{ bookData.description }}
          </p>
        </div>
      </div>
      <!-- <app-recommendations [bookData]="bookData"></app-recommendations> -->
    </div>
  </div>
</section>
