<section>
  <div class="overlayContent">
    <mat-icon (click)="onCloseClick()">close</mat-icon>
  </div>
  <div class="modalContainer">
    <div class="modalContent">
      <div class="coverContainer">
        <img src="{{ bookData.thumbnail }}" alt="" />
        <div class="addBook">
          <mat-icon (click)="onAddBook()">add_circle</mat-icon>
          <p>Add to my books</p>
        </div>
      </div>
      <div class="detailsContainer">
        <h1>{{ bookData.title }}</h1>
        <p>
          {{ bookData.authors ? bookData.authors[0] : "No authors listed" }}
        </p>
        <h6>Description</h6>
        <p>
          {{ bookData.description }}
        </p>
      </div>
    </div>
  </div>
</section>
