<section>
  <div class="wrapper">
    <header>
      <h3>Other books you may like</h3>
    </header>
    <div class="row">
      <div
        class="card"
        *ngFor="let book of visibleBooks"
        (click)="onBookClick(book)"
      >
        <div class="bookContent">
          <div class="coverContainer">
            <img src="{{ book.thumbnail }}" alt="" />
          </div>
          <div class="detailContainer">
            <p class="title">{{ book.title | truncate : 20 }}</p>
            <p class="author">
              {{
                (book.authors && book.authors.length > 0
                  ? book.authors[0]
                  : "Unknown"
                ) | truncate : 10
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
