section {
  width: 100%;
  padding: 5rem 0;
}

header {
  line-height: 2;
  margin-bottom: 1rem;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
}

.row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.card {
  border-radius: 10px;
  width: 20%;
  height: 100%;
  min-width: 11rem;
  padding: 0.5rem 0;
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  flex-direction: column;
  cursor: pointer;
}

.card:hover {
  background-color: var(--cardHover);
}

.bookContent {
  margin: auto;
}

.coverContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.coverContainer img {
  border-radius: 5px;
  width: 10rem;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  /* filter: drop-shadow(4px 0px 5px rgba(84, 68, 45, 0.136))
    drop-shadow(1px 5px 5px rgba(80, 57, 25, 0.198)); */
}

.detailContainer {
  height: 4rem;
  padding-top: 0.5rem;
}

.detailContainer p.title {
  font-weight: 550;
  color: var(--text);
  margin: 0;
}

.detailContainer p.author {
  font-weight: 400;
  color: var(--text);
  margin: 0;
}
