<section>
  <div class="wrapper">
    <a routerLink="/" routerLinkActive=""><h4>Bookworm</h4></a>
    <div class="formContainer">
      <h2>Let's create your account</h2>
      <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
        <div class="column">
          <label for="name">Full Name</label>
          <input
            matInput
            name="name"
            type="name"
            ngModel
            #nameInput="ngModel"
            placeholder="John Doe"
            required
          />
          <mat-error *ngIf="submitted && nameInput.invalid">
            Please enter your name
          </mat-error>
        </div>
        <div class="column">
          <label for="email">Email</label>
          <input
            matInput
            name="email"
            type="email"
            ngModel
            placeholder="johndoe@gmail.com"
            #emailInput="ngModel"
            required
            email
          />
          <mat-error *ngIf="submitted && emailInput.invalid">
            Please enter a valid email
          </mat-error>
        </div>
        <div class="column">
          <label for="passowrd">Password</label>
          <input
            type="password"
            name="password"
            ngModel
            matInput
            placeholder="Password"
            #passwordInput="ngModel"
            required
          />
          <mat-error *ngIf="submitted && passwordInput.invalid">
            Please enter a password
          </mat-error>
        </div>
        <button class="primaryBtn" type="submit">Sign Up</button>
      </form>
      <p>
        Already have an account?
        <span> <a routerLink="/login" routerLinkActive="">Log in</a></span>
      </p>
    </div>
  </div>
</section>
