<section>
  <div class="wrapper">
    <div class="formContainer">
      <h4>Let's create your account</h4>
      <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
        <div class="column">
          <label for="name">Full Name</label>
          <input
            matInput
            name="name"
            type="name"
            ngModel
            #nameInput="ngModel"
            placeholder="John Doe"
            required
          />
        </div>
        <div class="column">
          <label for="email">Email</label>
          <input
            matInput
            name="email"
            type="email"
            ngModel
            placeholder="E-Mail"
            #emailInput="ngModel"
            required
            email
          />
        </div>
        <div class="column">
          <label for="passowrd">Password</label>
          <input
            type="password"
            name="password"
            ngModel
            matInput
            placeholder="Password"
            #passwordInput="ngModel"
            required
          />
        </div>
        <button class="primaryBtn" type="submit">Sign Up</button>
      </form>
      <p>Already have an account? <span>Log in</span></p>
    </div>
  </div>
</section>
