<nav *ngIf="currentPage !== '/login' && currentPage !== '/signup'">
  <div class="navWrapper">
    <span>
      <a routerLink="/"><h6>Bookworm</h6></a>
    </span>
    <span class="spacer"></span>
    <ul class="btnWrapper">
      <li *ngIf="userIsAuthenticated">
        <a routerLink="/library" routerLinkActive="">My Library</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a routerLink="/login" routerLinkActive="">
          <button class="secondaryBtn">Log in</button></a
        >
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a routerLink="/signup" routerLinkActive="">
          <button class="primaryBtn">Sign up</button></a
        >
      </li>
      <li *ngIf="userIsAuthenticated">
        <button class="secondaryBtn" (click)="onLogout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>
