<nav>
  <div class="navWrapper">
    <span>
      <a routerLink="/"><h6>Bookworm</h6></a>
    </span>
    <span class="spacer"></span>
    <ul class="btnWrapper">
      <li>
        <a routerLink="/list" routerLinkActive="">My Books</a>
      </li>

      <li>
        <a routerLink="/login" routerLinkActive="">
          <button class="secondaryBtn" (click)="onLogin()">Log in</button></a
        >
      </li>
      <li>
        <a routerLink="/signup" routerLinkActive="">
          <button class="primaryBtn" (click)="onSignup()">Sign up</button></a
        >
      </li>
    </ul>
  </div>
</nav>
