section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
  overflow-y: hidden;
  transform: translateY(0);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 1000;
}

.modalContainer {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.noteContent {
  padding: 10% 7%;
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--tan);
  margin: 1rem 0;
}

textarea {
  width: 95%;
  padding: 0.75rem 1rem;
  resize: none;
  border: none;
  background-color: var(--gray-light);
}

.noteField {
  min-height: 15rem;
  max-height: 20rem;
  overflow-y: scroll;
}

.btnWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

mat-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--gray-dark);
  cursor: pointer;
}
