.card {
  width: 15%;
  display: flex;
  flex-direction: column;
  background-color: pink;
}

.coverContainer {
  position: relative;
  width: 100%;
}

.coverContainer img {
  border-radius: 5px;
  width: 8rem;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.152),
    0 1px 3px 1px rgb(60 64 67 / 15%);
  filter: drop-shadow(4px 0px 5px rgba(84, 68, 45, 0.136))
    drop-shadow(1px 5px 5px rgba(80, 57, 25, 0.198));
}

.detailContainer {
}

p {
}
