<!-- Discover hero -->
<section>
  <div class="discoverHero" *ngIf="userIsAuthenticated">
    <div class="wrapper">
      <div class="textWrapper">
        <h1>Discover your next <br />favorite read</h1>
        <p>Browse top-rated books and personalized recommendations</p>
      </div>
      <form [formGroup]="form" (submit)="onSearch()">
        <mat-icon>search</mat-icon>
        <input
          type="search"
          formControlName="searchbar"
          placeholder="Search books"
        />
      </form>
    </div>
  </div>
</section>
<app-book-list (bookSelected)="selectedBook = $event"></app-book-list>
<app-book-modal
  *ngIf="selectedBook"
  [bookData]="selectedBook"
  (close)="selectedBook = null"
></app-book-modal>
