<section>
  <div class="modalContainer">
    <mat-icon (click)="onCloseClick()">close</mat-icon>
    <div class="modalContent">
      <h4>Update Progress</h4>
      <hr />
      <form (submit)="onSubmit(pagesForm)" #pagesForm="ngForm">
        <label for="pages">Pages Read:</label>
        <input
          type="number"
          name="pages"
          [ngModel]="book.pagesRead"
          #pagesInput="ngModel"
        />
        <button class="primaryBtn" type="submit">Update</button>
      </form>
    </div>
  </div>
</section>
