<section>
  <div class="modalContainer">
    <mat-icon (click)="onCloseClick()">close</mat-icon>
    <div class="modalContent">
      <h3>Update Progress</h3>
      <hr />
      <form (submit)="onSubmit(pagesForm)" #pagesForm="ngForm">
        <label for="pages">What page are you on:</label>
        <div class="wrapper">
          <input
            type="number"
            name="pages"
            [ngModel]="book.pagesRead"
            #pagesInput="ngModel"
          />
          <p>/ {{ book.totalPages }}</p>
        </div>
        <hr />
        <button class="primaryBtn" type="submit">Update</button>
      </form>
    </div>
  </div>
</section>
