/* Merriweather and Libre Franklin fonts */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather:wght@300;400;700;900&display=swap");

/* Colors */
:root {
  --white: #fffdfb;
  --brown-light: #7b6b65;
  --brown: #5e4a43;
  --teal-light: #e9f2ec;
  --teal: #d1dcda;
  --teal-dark: #b4cec9;
  --tan-light: #e5d8c3;
  --tan: #d7c3a2;
  --gray-light: #ececec;
  --gray: #bcbcbc;
  --gray-dark: #707070;
  --red: #e02b1d;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  font-family: "Libre Franklin", sans-serif;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.modalOpen {
  overflow: hidden;
}

main {
  min-height: calc(100vh - 10vh); /* subtract footer height */
  flex: 1 0 auto;
}

/* Typography */
h1 {
  font-family: "Merriweather", serif;
  font-size: 2.441rem;
  font-weight: 500;
  color: var(--brown);
  margin: 0;
}

h2,
h3,
h4 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 550;
  color: var(--brown);
  margin: 0;
}

h2 {
  font-size: 1.953rem;
}

h3 {
  font-size: 1.563rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.02rem;
  color: var(--brown);
}

/* Buttons */

button {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1rem;
  font-weight: 550;
  color: var(--brown);
  border: none;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.primaryBtn {
  background-color: var(--tan);
  border-radius: 0.75rem;
  box-shadow: 0px 0.3px 0.7px 0px rgb(0 0 0 / 12%),
    0px 1.5px 2.8px 0px rgb(0 0 0 / 7%), 0px 4px 9px 0px rgb(0 0 0 / 5%);
}

.primaryBtn:hover {
  background-color: var(--tan-light);
}

.secondaryBtn {
  background-color: transparent;
  border-radius: 0.75rem;
}

.secondaryBtn:hover {
  background-color: var(--gray-light);
}

.actionBtn {
  background-color: transparent;
  padding: 0;
  font-weight: 550;
  text-decoration: underline;
  cursor: pointer;
}

.actionBtn:hover {
  opacity: 0.8;
}

/* Links */

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: 550;
  font-size: 1rem;
  color: var(--brown);
}

/* Input */

input {
  border: 2px solid var(--gray-light);
  border-radius: 0.35rem;
  transition: 0.3s ease;
  outline: none;
  padding: 0.75rem;
  color: var(--brown);
  background-color: var(--gray-light);
}

input::placeholder {
  color: var(--gray-dark);
  font-weight: 500;
}

input:focus {
  outline: none;
  border: 2px solid var(--teal-dark);
  background-color: var(--white);
  box-shadow: 0 0 0 4px rgba(225, 238, 236, 0.5);
}

/* Form */

label {
  font-weight: 500;
  font-size: 1rem;
  padding-bottom: 5px;
  color: var(--text);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}
