/* Merriweather and Libre Franklin fonts */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather:wght@300;400;700;900&display=swap");

/* Colors */
:root {
  --text: #5e4a43;
  --white: #fffdfb;
  --blue: #e9f2ec;
  --brown: #9e7353;
  --tan: #d7c3a2;
  --gray: #eaeaea;
  --linkColor: #8a7c77;
  --textGray: #939393;
  --cardHover: #ececec;
  --textHover: #a59994;
  --btnHover: #e3d4bd;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  font-family: "Libre Franklin", sans-serif;
  scroll-behavior: smooth;
}

body.modalOpen {
  overflow: hidden;
}

/* Typography */
h1,
h2,
h3 {
  font-family: "Merriweather", serif;
  font-size: 3.052rem;
  font-weight: 500;
  color: var(--text);
  margin: 0;
}

h4,
h5,
h6 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 550;
  color: var(--text);
  margin: 0;
}

h2 {
  font-size: 3.052rem;
}

h3 {
  font-size: 2.441rem;
}

h4 {
  font-size: 1.953rem;
}

h5 {
  font-size: 1.563rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.02rem;
  color: var(--text);
}

/* Buttons */

button {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1rem;
  font-weight: 550;
  color: var(--text);
  border: none;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.primaryBtn {
  background-color: var(--tan);
  border-radius: 0.75rem;
  box-shadow: 0px 0.3px 0.7px 0px rgb(0 0 0 / 12%),
    0px 1.5px 2.8px 0px rgb(0 0 0 / 7%), 0px 4px 9px 0px rgb(0 0 0 / 5%);
}

.primaryBtn:hover {
  background-color: var(--btnHover);
}

.secondaryBtn {
  background-color: transparent;
  border-radius: 0.75rem;
}

.secondaryBtn:hover {
  background-color: var(--cardHover);
}

/* Links */

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: 550;
  font-size: 1rem;
  color: var(--text);
}

/* Input */

input {
  border: 1px solid var(--gray);
  border-radius: 0.35rem;
  transition: 0.3s ease;
  outline: none;
  padding: 0.75rem;
  color: var(--text);
}

input::placeholder {
  color: var(--textGray);
  font-weight: 500;
}

input:focus {
  outline: none;
  border-color: var(--blue);
  box-shadow: 0 0 0 4px rgba(57, 109, 146, 0.1);
}

/* Form */

label {
  font-weight: 500;
  font-size: 1rem;
  padding-bottom: 5px;
  color: var(--text);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}
