form {
  position: relative;
}

input {
  padding-left: 2.5rem;
  width: 20rem;
  box-shadow: 0px 0.3px 0.7px 0px rgba(0, 0, 0, 0.066),
    0px 1.5px 2.8px 0px rgba(0, 0, 0, 0.033),
    0px 4px 9px 0px rgba(0, 0, 0, 0.016);
}

mat-icon {
  color: var(--gray);
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
