<app-hero (query)="onSearch($event)"></app-hero>
<app-streak></app-streak>
<app-book-list
  [query]="query"
  *ngIf="showSearchResults"
  (bookSelected)="selectedBook = $event"
  (close)="showSearchResults = false"
></app-book-list>
<app-bestseller-list
  *ngIf="userIsAuthenticated"
  (bookSelected)="selectedBook = $event"
></app-bestseller-list>
<app-category-list
  *ngIf="userIsAuthenticated"
  (bookSelected)="selectedBook = $event"
></app-category-list>
<app-book-modal
  *ngIf="selectedBook"
  [bookData]="selectedBook"
  (close)="selectedBook = null"
></app-book-modal>
